.navbar {
    display: flex;
    background-color: #005197;
    color: #ffffff;
    max-width: 100.15vw;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 2vh 7vw;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar__logo {
    object-fit: cover;
    max-width: 150px;
    width: auto;
}

.navbar__signout {
    background: none;
    border: 1px solid white;
    color: white;
}
