.field__formControl {
    width: 300px;
}

.field__select {
    width: 300px;
}

@media (max-height: 2000px) {
    .field__formControl {
        width: 250px;
        font-size: 20px;
    }

    .field__select {
        width: 300px;
        font-size: 20px;

    }
}

@media (max-height: 1024px) {
    .field__formControl {
        width: 250px;
    }

    .field__select {
        width: 250px;
    }
}

@media (max-height: 900px) {
    .field__formControl {
        width: 300px;
    }

    .field__select {
        width: 300px;
    }
}

@media (max-height: 700px) {
    .field__formControl {
        width: 300px;
    }

    .field__select {
        width: 300px;
    }
}