.notFound{
    display: flex;
    background-color: #e6e6e6;
    width: 98vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFound> h1{
    margin-top: -60vh;
    color: #262626;
    font-family:cursive;
    font-size: 6rem;
}

.notFound> h2{
    color: #262626;
    font-family:cursive;
    font-size: 1.5rem;
}

.notFound> h3{
    font-size: 0.7rem;
    font-family:cursive;
}
