:root {
    --tab-height: 13vh;
    --tab-width: 27vw;
    --tab-label: 10vw;
}

.tabsForm {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 20px;
    z-index: 100;
}

.tabsForm>label {
    margin-left: var(--tab-label);
    color: grey;
}

.tabsForm__tabs {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

.tabsForm__panel {
    display: flex;
    flex-direction: column;
    height: var(--tab-height);
    width: var(--tab-width);
    padding: 7px;
    padding-left: 10px;
    background-color: #ffffff;
    margin-right: 2px;
    border: 0.5px solid lightgrey;
    transition: all 0.5s;
    overflow: hidden;
    cursor: pointer;
}


.tabsForm__panel>h3 {
    margin-top: -15px;
    margin-left: 6px;
    font-size: 2rem;
    font-weight: bold;
}

.tabsForm__panel>p:first-child {
    font-size: 0.9rem;
    color: grey;
}

.tabsForm__panel>p:last-child {
    font-size: 0.8rem;
    color: grey;
    margin-top: -10px;
}

.tabsForm__panel:hover {
    background-color: #e6e6e6;
}

.tabsForm__focused {
    border-bottom: 5px solid #005197;
}


/* 


Responsive


*/


/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
    :root {
        --tab-height: 15vh;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    :root {
        --tab-height: 12vh;
        --tab-width: 18vw;
        --tab-label: 23vw;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    :root {
        --tab-height: 20vh;
        --tab-width: 18vw;
        --tab-label: 23vw;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    :root {
        --tab-height: 20vh;
        --tab-width: 18vw;
        --tab-label: 23vw;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    :root {
        --tab-height: 25vh;
        --tab-width: 18vw;
        --tab-label: 23vw;
    }
}

/* Cases */
@media only screen and (min-height: 600px) and (min-width: 1000px) {
    :root {
        --tab-height: 18vh;
        --tab-width: 15vw;
        --tab-label: 28vw;

    }
}

@media only screen and (min-height: 1000px) and (min-width: 600px) {
    :root {
        --tab-height: 13vh;
    }
}

@media only screen and (min-height: 1000px) and (min-width: 1000px) {
    :root {
        --tab-height: 13vh;
        --tab-width: 18vw;
        --tab-label: 23vw;
    }
}