/* .field__form {
    width: 500px;
} */

.field__select {
    width: 300px;
    height: 40px;
    background: none;
    padding: 0px;
}

.MuiFormControl-root {
    background: none !important;

}

.MuiFormLabel-root {
    font-size: 1rem !important;
    margin-left: 10px !important;
    font-weight: bold !important;
}

.MuiInputBase-root {
    font-size: 1rem !important;
    padding-left: 10px !important;
    font-weight: bold !important;
    background: none !important;
}

.MuiSelect-select {
    background: none !important;
}

.MuiSvgIcon-root {
    background: none !important;
}

/* 


RESPONSIVE


*/

/* 
@media (max-height: 1024px) {
    .field__form {
        width: 250px;
    }

    .field__select {
        width: 250px;
    }
}

@media (max-height: 900px) {
    .field__form {
        width: 300px;
    }

    .field__select {
        width: 300px;
    }
}

@media (max-height: 700px) {
    .field__form {
        width: 300px;
    }

    .field__select {
        width: 300px;
    }
} */