/* .field__form {
    width: 500px;
} */

.field__select {
    width: 300px;
    height: 6vh;
    background: none;
    padding: 0px;
}

.MuiFormControl-root {
    background: none !important;

}

.MuiFormLabel-root {
    font-size: 1rem !important;
    margin-left: 10px !important;
    font-weight: bold !important;
}

.MuiInputBase-root {
    font-size: 1rem !important;
    padding-left: 10px !important;
    font-weight: bold !important;
    background: none !important;
    letter-spacing: 2px !important;
}

.MuiSelect-select {
    background: none !important;
}

.MuiSvgIcon-root {
    background: none !important;
}

/* 


RESPONSIVE


*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
    .field__select {
        width: 250px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}