.note {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 8.4vh;
    padding-bottom: 0;
    background-color: white;
    margin: 0;
    
}

.note::-webkit-scrollbar{
    display: none;
}
.note__content h1,
h2,
h3,
h4,
p,
li,
ul {
    background: none;
}

.note__content {

    width: 100.5%;
    height: auto;
    padding: 20px;
    background-color: #005197;
    /* border: 2px solid lightgray; */
    box-shadow: 2px 2px 51px 7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 51px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 51px 7px rgba(0, 0, 0, 0.1);
}

.note__content> h4, li{
    color: white;
}